<app-title></app-title>
<app-events-create></app-events-create>
<section class="row mt-2 flex-wrap">
  <div class="col-md-4 mb-3" *ngFor="let event of events; let i = index">
    <div class="card card-flip shadow-lg" #card>
      <div class="date">
        <span class="day">{{ event.dateStart | date: 'dd' }}</span>
        <span class="month">{{ event.dateStart | date: 'MMM' }}</span>
        <span class="year">{{ event.dateStart | date: 'yyyy' }}</span>
      </div>
      <a [routerLink]="['/events', event._id]">
        <img class="card-img-top" src="https://alieningressos.com/loja/img/evento/capa_203.jpg">
      </a>
      <div class="card-body">
        <a [routerLink]="['/events', event._id]" class="text-link">
          <h5 class="card-title title-top">{{ event.title }}</h5>
        </a>
        <p class="text-muted" style="color: #CCDAD1;"><i class="far fa-calendar-alt mr-1"></i>{{ event.dateStart | date: 'EEE, MMMM d, y' }}</p>
      </div>
    </div>
  </div>
</section>


<style>
.text-link {
  text-decoration: none;
  color: #000000;
}
.title-top {
  margin-top: 5px;
}
.card-flip {
  height: 100%;
  width: 100%;
}
.date {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #77d7b9;
  color: #fff;
  padding: 0.4em;
}
.date span {
  display: block;
  text-align: center;
}
.date .day {
  font-weight: 700;
  font-size: 17px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.date .month {
  text-transform: uppercase;
}
.date .month,
.date .year {
  font-size: 10px;
}
</style>
