<div class="col-md-12" *ngIf="comments.ratings.length; else notcomment">
  <ul class="comments" style="margin-left: -35px;" *ngFor="let comment of comments.ratings | paginate: { itemsPerPage: 10, currentPage: p, totalItems: comments.count}">
    <li class="comment">
      <div class="col-md-12">
        <h6 class="font-weight-bold comment-name">{{ comment._user.firstName + ' ' + comment._user.lastName }}</h6>
        <span>
          <span>{{ comment.comment }}</span>
          <small class="text-muted comment-time">HÁ 15 MINUTOS</small>
        </span>
      </div>
    </li>
  </ul>
  <div class="row col-md-12 justify-content-center">
    <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="<" nextLabel=">"></pagination-controls>
  </div>
</div>
<ng-template #notcomment>
  <div class="col-md-12 justify-content-center"> 
    <h6 class="text-center">Não encontrado nenhum comentário</h6>
  </div>
</ng-template>
