<div class="col-md-11" *ngIf="comments.ratings.length; else notcomment">
  <ul class="comments" *ngFor="let comment of comments.ratings">
    <li class="comment">
      <div class="col-md-12">
        <h6 class="font-weight-bold comment-name">{{ comment._user.firstName + ' ' + comment._user.lastName }}</h6>
        <span>
          <span>{{ comment.comment }}</span>
          <small class="text-muted comment-time">HÁ 15 MINUTOS</small>
        </span>
      </div>
    </li>
  </ul>
</div>
<ng-template #notcomment>
  <h6 class="text-center">Não encontrado nenhum comentário</h6>
</ng-template>
