<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Criar um evento</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="createEvent()">
    <div class="modal-body">
      <ngb-tabset>
        <ngb-tab title="Information basics">
          <ng-template ngbTabContent>
            <div class="form-group mt-2">
              <input 
                type="text" 
                placeholder="Nome do Evento" 
                class="form-control"
                formControlName="title"
                maxlength="250"
              >
            </div>
            <div class="form-row">
              <div class="col">
                <input class="form-control" placeholder="Data início" (click)="s.toggle()" formControlName="dateStart" ngbDatepicker #s="ngbDatepicker">
              </div>
              <div class="col">
                <input class="form-control" placeholder="Data fim" (click)="e.toggle()" formControlName="dateEnd" ngbDatepicker #e="ngbDatepicker">
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea 
                class="form-control" 
                placeholder="Descrição"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
            <input 
              type="file"
              class="form-control"
              accept="image/*"
              (change)="imageUpload($event)"
              formControlName="imagePath">
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Organizer">
          <ng-template ngbTabContent>
            <div formGroupName="organizer">
              <div class="form-group mt-2">
                <input 
                  type="text" 
                  placeholder="Nome organizador/crew" 
                  class="form-control"
                  formControlName="name">
              </div>
              <div class="form-group mt-3">
                <input
                  type="text"
                  class="form-control" 
                  placeholder="Email"
                  formControlName="email">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Social network">
          <ng-template ngbTabContent>
            <div formGroupName="socials">
              <div class="form-group mt-2">
                <input 
                  type="text"
                  placeholder="Evento facebook"
                  class="form-control"
                  formControlName="facebook">
              </div>
              <div class="form-group mt-3">
                <input 
                  type="text"
                  placeholder="Instagram"
                  class="form-control"
                  formControlName="instagram">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Maps">
          <ng-template ngbTabContent>
            <!-- <div class="form-group">
              <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
            </div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map> -->
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Fechar</button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
</ng-template>
<button class="btn btn-primary btn-sm form-rounded col-md-2" (click)="open(content)">+ Event</button>

<style>
agm-map {
  height: 300px;
}
</style>
