<div class="login-form">
  <form [formGroup]="form" (ngSubmit)="registerUser()" novalidate>
    <div class="avatar">
      <i class="fas fa-user fa-4x text-white" id="avatar-user"></i>
    </div>  
    <h2 class="text-center">Register</h2>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="firstName" placeholder="Firstname">
      <small *ngIf="!form.get('firstName').valid && form.get('firstName').touched" class="form-text text-danger"><em>Firstname invalid</em></small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="lastName" placeholder="Lastname">
      <small *ngIf="!form.get('lastName').valid && form.get('lastName').touched" class="form-text text-danger"><em>Lastname invalid</em></small>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="username" placeholder="Email">
      <small *ngIf="!form.get('username').valid && form.get('username').touched" class="form-text text-danger"><em>Email invalid</em></small>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      <small *ngIf="!form.get('password').valid && form.get('password').touched" class="form-text text-danger"><em>Password invalid</em></small>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="loading" class="btn btn-primary btn-lg btn-block login-btn"><i *ngIf="loading" class="fas fa-spinner"></i> Create</button>
    </div>
  </form>
  <p class="text-center small">Já possui conta? <a [routerLink]="['/login']">Login</a></p>
</div>
