<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <a [routerLink]="['/events']">
            <div class="img">
              <img style="position: absolute; width: 160px; margin-left: 20px; margin-top: 15px;" src="https://s3-sa-east-1.amazonaws.com/web-rave/VGI3SVVKRWg1SS9TZENvMERKOXM2dz09LS11T3UyMHkvM1B2TC9RWUpuMDBFVHR3PT0%3D--5fc03caef4fb42901963721b41b743909614a023_1000x.svg.png">
            </div>
          </a>
          <div class="inner-addon left-addon">
            <i class="fas fa-search"></i>
            <input class="form-control col-md-8" type="text" (keyup)="searchItems(searchEvent.value)" #searchEvent>
            <ul class="list-group" style="position: absolute; z-index: 15;">
              <li class="list-group-item" *ngFor="let events of event?.events">
                <a [routerLink]="['/events', events?._id]">
                  {{ events?.title }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="float-right" style="margin-top: 15px;">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item menu-item-nav" *ngIf="!currentUser"><a class="nav-link" [routerLink]="['/register']">Crie uma conta</a></li>
              <li class="nav-item menu-item-nav" *ngIf="!currentUser"><a class="nav-link" [routerLink]="['/login']">Entre</a></li>
              <li class="nav-item menu-item-nav dropdown" *ngIf="currentUser">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="currentUser" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user-circle fa-lg" style="padding-right: 3px;"></i>
                  <i class="font-weight-bold" style="padding-right: 8px;">{{ currentUser.firstName }}</i><i class="fas fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="currentUser">
                  <a [routerLink]="['/profile']" class="dropdown-item">Meu perfil</a>
                  <a href="#" class="dropdown-item">Meus comentários</a>
                  <a href="#" class="dropdown-item" (click)="logout()">Sair</a>
                </ul>
              </li>
              <li class="nav-item menu-item-nav"><a class="nav-link">Contato</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
