<nav class="navbar navbar-light navbar-expand-xl bg-light" style="height: 80px;">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Rave</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']">Eventos</a>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-rounded" type="text" (keyup)="search(searchEvent.value)" #searchEvent>
          </form>
        </li>
        <li class="nav-item pull-right">
          <a href="#" class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
    <div class="pull-right"><fa-icon [icon]="faUser" size="lg"></fa-icon></div>
  </div>
</nav>
