/* You can add global styles to this file, and also import other style files */
@import '~ngx-bar-rating/themes/br-stars-theme';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.card {
  border-radius: .50rem !important;
}

.form-rounded {
  border-radius: 2rem;
}

.br {
  position: relative;
  margin: 0 0 15px 0 !important;
}

.br-unit, .br-selected {
  height: 20px !important;
  margin-left: 0 !important;
}
