<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Faça sua avaliação!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        Pub: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
        Local: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
        Food: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
      </div>
      <div class="col">
        Lineup: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
        Stall: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
        Bathroom: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
      </div>
      <div class="col">
        Lighting: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
        Security: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
        Cleaning: <bar-rating [max]="5" [theme]="'stars'"></bar-rating>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="openModal(content)">Nova avaliação</button>
