<div class="row mt-5">
  <div class="col-md-12 card shadow">
    <div class="row">
      <div class="col-md-8 col-img-event">
        <img class="card-img-top img-event" src="../../../assets/31899362_847150278821827_217464210060214272_n.jpg">
      </div>
      <div class="col-md-4">
        <div class="date">
          <span class="day">{{ event.dateStart | date: 'dd' }}</span>
          <span class="month">{{ event.dateStart | date: 'MMM' }}</span>
          <span class="year">{{ event.dateStart | date: 'yyyy' }}</span>
        </div>
        
        <h4 class="top-title text-center">{{ event.title }}</h4>
        <h5 class="text-muted text-center mt-5">organizado por {{ event.organizer?.name }}</h5>
      </div>
    </div>
    <div class="row border-top border-bottom">
      <div class="container">
        <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline mt-2">
          <li>Sigam nas redes sociais: </li>
          <li><a target="_blank" [href]="event.socials.facebook"><i class="fab fa-facebook-square" alt="Evento"></i></a></li>
          <li><a target="_blank" [href]="event.socials.instagram"><i class="fab fa-instagram" alt="Instagram"></i></a></li>
          <li class="float-right">
            <app-events-ratings></app-events-ratings>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body mt-3">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="row text-uppercase font-weight-bold mb-3">descrição</div>
            <p class="row font-weight-light">{{ event.description }}</p>
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="row text-uppercase font-weight-bold mb-3">data</div>
            <p class="row font-weight-light mb-5">{{ event.dateStart | date: 'EEE, dd/MM/yyyy, h:mm:ss a' }} - {{ event.dateEnd | date: 'EEE, dd/MM/yyyy, h:mm:ss a' }}</p>
            <div class="row text-uppercase font-weight-bold mb-3">local</div>
            <p class="row font-weight-light"></p>
          </div>
        </div>
      </div>
      <hr style="width: 103%; margin-left: -15px;">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row text-uppercase font-weight-bold mb-3">avaliações</div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <app-events-comment></app-events-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons .fab {
	width: 30px;
	height: 30px;
	line-height: 31px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fab{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fab{
	border-radius:5px;
}
.social-icons.icon-flat .fab{
	border-radius: 0;
}

.social-icons .fab:hover, .social-icons .fab:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.top-title {
  margin-top: 70px;
}
.img-event {
  margin-left: -1px;
  height: 300px;
}
.col-img-event {
  margin-left: -15px;
}
.date {
  position: absolute;
  top: 0;
  left: 25px;
  background-color: #77d7b9;
  color: #fff;
  padding: 0.4em;
}
.date span {
  display: block;
  text-align: center;
}
.date .day {
  font-weight: 700;
  font-size: 17px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.date .month {
  text-transform: uppercase;
}
.date .month,
.date .year {
  font-size: 10px;
}
</style>
