<div class="row mt-3">
  <div class="col card-center">
    <div class="card" style="height: 500px;">
      <img class="card-img-top" src="../../../assets/31899362_847150278821827_217464210060214272_n.jpg" style="height: 250px;">
      <div class="card-body">
        <h3>{{ event.title }}</h3>
        <small>Evento realizado em {{ event.dateStart | date: 'dd MMM yyyy' }}</small>
      </div>
    </div>
  </div>
  <div class="col-md-4 card-right">
    <div class="card" style="height: 500px;">
      <div class="card-body">asdajsdhakj</div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col card-comment">
    <div class="card" style="height: 500px;">
    </div>
  </div>
</div>
